
<div id="vendorApp" class="pt-3">
    <div class="container-fluid">
        <div class="card shadow px-4 py-4">
            <div class="row justify-content-between">
                <div class="col">
                    <button class="btn btn-outline-primary shadow" @@click="showAddDialogClick">
                        <i class="bi bi-plus-lg"></i>&nbsp;建立新廠商
                    </button>
                </div>
                <div class="d-flex col-lg-4 col-md-6 col-sm-8 col-xs-12">
                    <input class="form-control me-2 shadow" type="search" placeholder="Search" aria-label="Search" v-model="searchText" @@keyup.enter="searchClick">
                    <button class="btn btn-outline-secondary shadow" @@click="searchClick">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div>
                <p class="pt-2">
                    <button class="btn btn-outline-dark btn-sm" v-show="!NAME" @@click="NAME=!NAME">
                        廠商名稱
                    </button>
                    <button class="btn btn-outline-dark btn-sm" v-show="!CONTACTPERSON" @@click="CONTACTPERSON=!CONTACTPERSON">
                        聯絡人
                    </button>
                    <button class="btn btn-outline-dark btn-sm" v-show="!ADDRESS" @@click="ADDRESS=!ADDRESS">
                        地址
                    </button>
                </p>
            </div>
            <div class="pt-2">
                <table class="table table-hover table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th v-show="NAME">
                                廠商名稱
                                @*<a href="#?" class="link-secondary" @@click="filterSort('NAME')" v-show="sortNAME==null">
                                        <i class="fa fa-sort"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('NAME')" v-show="sortNAME==false">
                                        <i class="bi bi-sort-down-alt"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('NAME')" v-show="sortNAME==true">
                                        <i class="bi bi-sort-down"></i>
                                    </a>*@
                                <a href="#?" class="link-secondary float-end" v-on:click="NAME=!NAME">
                                    <i class="bi bi-x"></i>
                                </a>
                            </th>
                            <th v-show="CONTACTPERSON">
                                聯絡人
                                @*<a href="#?" class="link-secondary" @@click="filterSort('CONTACTPERSON')" v-show="sortCONTACTPERSON==null">
                                        <i class="fa fa-sort"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('CONTACTPERSON')" v-show="sortCONTACTPERSON==false">
                                        <i class="bi bi-sort-down-alt"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('CONTACTPERSON')" v-show="sortCONTACTPERSON==true">
                                        <i class="bi bi-sort-down"></i>
                                    </a>*@
                                <a href="#?" class="link-secondary float-end" v-on:click="CONTACTPERSON=!CONTACTPERSON">
                                    <i class="bi bi-x"></i>
                                </a>
                            </th>
                            <th v-show="ADDRESS">
                                地址
                                @*<a href="#?" class="link-secondary" @@click="filterSort('ADDRESS')" v-show="sortADDRESS==null">
                                        <i class="fa fa-sort"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('ADDRESS')" v-show="sortADDRESS==false">
                                        <i class="bi bi-sort-down-alt"></i>
                                    </a>
                                    <a href="#?" class="link-secondary" @@click="filterSort('ADDRESS')" v-show="sortADDRESS==true">
                                        <i class="bi bi-sort-down"></i>
                                    </a>*@
                                <a href="#?" class="link-secondary float-end" v-on:click="ADDRESS=!ADDRESS">
                                    <i class="bi bi-x"></i>
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in list">
                            <td>{{index+1}}</td>
                            <td v-show="NAME">{{ item.name }}</td>
                            <td v-show="CONTACTPERSON">{{ item.contactPerson }}</td>
                            <td v-show="ADDRESS">{{ item.address }}</td>
                            <td style="max-width:100px;text-align:center">
                                <button class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="編輯" @@click="showEditDialogClick(item)">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="刪除" @@click="deleteDataClick(item.id)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-show="loading">
                        <tr>
                            <td colspan="5" style="text-align:center">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border spinner-border-sm text-info" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-show="!loading && list.length==0">
                        <tr>
                            <td colspan="5" style="text-align:center">目前尚無資料</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Add Dialog-->
    <div class="modal fade" id="AddVendorModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">建立廠商資料作業</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">廠商名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">廠商英文名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.englishName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">地址</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.address" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">電話</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.tel" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">傳真</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.fax" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">聯絡人</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.contactPerson" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">聯絡人電話</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.contactTel" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">付款方式</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="addForm.paymentRule" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @@click="addData">
                        <i class="bi bi-save"></i>&nbsp;新增
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>&nbsp;取消
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Dialog-->
    <div class="modal fade" id="EditVendorModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">修改廠商資料作業</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">廠商名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">廠商英文名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.englishName" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">地址</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.address" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">電話</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.tel" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">傳真</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.fax" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">聯絡人</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.contactPerson" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">聯絡人電話</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.contactTel" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">付款方式</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" v-model="editForm.paymentRule" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @@click="editData">
                        <i class="bi bi-save"></i>&nbsp;儲存
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>&nbsp;取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>